body {
  margin: 0px;
  font-family: sans-serif;
  background: rgb(70, 70, 69);
}

#root{
  width: 100vw;
  height: 100vh;
}

.menu {
  padding-top: 0.5em;
  display: flex;
  justify-content: center;
  margin-bottom: 0.5em;
  flex-wrap: wrap;
  align-items: center;
}

.menuButton {
  color: white;
  padding: 5px 0.5em ;
  border: 0px solid gray;
  background-color: rgba(128, 128, 128, 0.233);
  margin: 5px;
  cursor: pointer;
  border-radius: 0.5em;
  font-size:1.5em;
}

.menuButton:hover {
  color: white;
  background: black;
}

#timer{
  display: flex;
  justify-content: center;
  margin-bottom: 0.5em;
  flex-wrap: wrap;
  align-items: center;
  color: white;
  font-size: 1.5em;
}

.game-info {
  margin-bottom: 20px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 1.5em;
}

.info {
  display: block;
  margin-top: 15px;
}

#game-board{
  margin-left: auto;
  margin-right: auto;
  border-collapse: separate;

  width: 100%;
  max-width: 80vh;
}


.cell {
  position: relative;
  text-align: center;
  vertical-align: middle;
  
}


.cell::after{
  content: '';
  display: block;
  margin-top: 100%;
}

.cell-content{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
}

/* Centers the text in cells, taken from https://stackoverflow.com/questions/22835430/make-table-cells-square */
.innerTable{
  display:table;
  height:100%;
  width:100%;
}

.innerTable-cell{
  display:table-cell;
  vertical-align:middle;
  height:100%;
  width:100%;
  font-weight: bold;
  font-size: 1.5vh;

}

.no-select{
  /*Remove ability to select text, taken from https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
  
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}


.hidden {
  cursor: pointer;
  background: #333333;
}


/* Overlay styles*/
#overlay {
  position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.overlay-content{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2.5em;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
